{
  "text": {
    "n_head": 5,
    "attn_dropout": 0.1,
    "relu_dropout": 0.1,
    "res_dropout": 0.1,
    "layers": 5
  },
  "visual": {
    "n_head": 5,
    "attn_dropout": 0.1,
    "relu_dropout": 0.1,
    "res_dropout": 0.1,
    "layers": 5
  },
  "audio": {
    "n_head": 5,
    "attn_dropout": 0.1,
    "relu_dropout": 0.1,
    "res_dropout": 0.1,
    "layers": 5
  }
}